{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bomberos Voluntarios General San Martin</title>
        <link rel="icon" type="image/x-icon" href="static/logoBomberosV.ico" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="static/scripts.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> 
        <link href="static/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <img src="" alt="" id="logo" style="width: 7rem; border-radius: 10px;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">Sobre nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="#mision">Mision y Vision</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Inscripcion">Inscripcion</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Localizacion">Localizacion</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog/">Noticias</a></li>
                        <button class="btn btn-danger" style="padding: 8px;">Registrarse</button>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-danger text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Bomberos Voluntarios</h1>
                <p class="lead">General San Martin, Provincia del Chaco</p>
                <a class="btn btn-lg btn-light" href="#about">Sobre Nosotros!</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Sobre Nosotros</h2>
                        <p class="lead">Nuestros Objetivos</p>
                        <ul>
                            <li>Fortalecer las condiciones para proteger efectivamente vidas, bienes y 
                                ambiente</li>
                            <li>Ofrecer servicios que brinden a la comunidad seguridad humana, 
                                Industrial, protección de riesgo contra incendio, otros incidentes y 
                                eventos masivos.</li>
                            <li>asegurar el mejoramiento continuo de los procesos de la Institución, 
                                que garanticen la satisfacción de la comunidad.
                                </li>
                            <li> Fortalecer las competencias y la cultura organizacional</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="mision">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>MISIÓN</h2>
                        <p class="lead">Proteger la vida, el ambiente y el patrimonio del municipio de General 
                            Jose de San Martín Chaco, mediante la atención y gestión del riesgo en 
                            incendios, rescates, y otras emergencias, de manera segura, eficiente, 
                            con sentido de responsabilidad social, fundamentadas en la excelencia 
                            institucional del talento humano.</p>
                    </div>
                </div>
            </div>
        </section>
         <!-- Vision-->
         <section class="bg-light" id="mision">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>VISIÓN</h2>
                        <p class="lead">Para el año 2028 la Asociación de Bomberos Voluntarios de General San Martín contará con equipamientos de última tecnología, vehículos nuevos y un espacio físico propio donde nos permitirá mejorar la prestación del servicio.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inscripcion-->
        <section id="Inscripcion">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>INSCRIPCION</h2>
                        <p class="lead">Para sumarte a nuestro equipo, debes presentar la siguiente documentacion:</p>
                    </div>
                    <img src="/static/inscripcion.jpeg" />
                </div>
            </div>
        </section>
        <!-- Localización-->
        <section id="Localizacion">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>LOCALIZACION</h2>
                        <p class="lead">Nos encontramos en Santa Fe 40, General San Martin, Chaco [CP:3509]</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1784.774469515547!2d-59.34942458611622!3d-26.534627584735365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x940e7d36389829b6!2zMjbCsDMyJzA0LjciUyA1OcKwMjAnNTAuMyJX!5e0!3m2!1ses!2sar!4v1671212718149!5m2!1ses!2sar" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>   
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Bomberos Voluntarios General San Martin</p></div>
        </footer>
    </body>
</html>

</html>
